@keyframes rotate-border {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.model-widget-running {
    position: relative;
    overflow: hidden;
}

.model-widget-running::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(transparent, transparent, transparent, rgb(255, 255, 255));
    animation: rotate-border 4s linear infinite;
    z-index: -1;
}

.model-widget-running::after {
    content: '';
    position: absolute;
    inset: 2px;
    /* Adjust this value to control border thickness */
    background: inherit;
    border-radius: inherit;
    z-index: -1;
}