@keyframes border-glow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.glow-container {
    position: absolute;
    inset: -2px;
    /* Adjust for desired border thickness */
    border-radius: inherit;
    overflow: hidden;
    z-index: 1;
    border-radius: 13px;
}

.glow-effect {
    position: absolute;
    inset: -50%;
    background: conic-gradient(from 0deg,
            transparent,
            rgb(255, 255, 255),
            transparent 50%);
    animation: border-glow 2.5s linear infinite;
}