@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  padding: 15px 25px;
  width: 100%;
}

.react-multi-carousel-list {
  position: static !important;

  .react-multi-carousel-dot-list {
    align-items: center !important;
  }

  .react-multi-carousel-dot-list.order-truffle-carousel-dots {
    bottom: -35px !important;
    height: 35px;
  }
  .react-multi-carousel-dot-list.discover-carousel-dots {
    bottom: 14px !important;
  }
}

button.ant-btn.preorder-btn {
  background: #817f7f !important;
  border: none !important;
  transition: all 0.3s ease !important;

  &:hover {
    background: #fff !important;

    span {
      color: #817f7f !important;
    }
  }
}

@layer base {
  body {
    background: rgba(39, 21, 57, 0.3);
    @apply text-white;
  }
}

@layer utilities {

  .home-layout {
    @apply lg:mx-[128px] fixed;
  }

  .navbar {
    /* @apply grid grid-cols-4 items-center; */
    @apply flex justify-between items-center fixed w-full top-[10px];
  }

  .h1-semibold {
    @apply text-[30.52px] leading-[36.62px] tracking-tighter !important;
  }

  .h3-bold {
    @apply text-[21px] font-normal leading-[25.33px] tracking-tighter !important;
  }

  .base-medium {
    @apply text-[14px] font-medium leading-[15px] !important;
  }

  .base-regular {
    @apply text-[12px] font-light leading-[14.4px] tracking-tighter !important;
  }

  .small-regular {
    @apply text-[8.73px] font-normal leading-[10.47px] !important;
  }

  .flex-center {
    @apply flex justify-center items-center !important;
  }

  .flex-center-y {
    @apply flex items-center !important;
  }

  .flex-center-x {
    @apply flex justify-center !important;
  }

  .model-widget {
    @apply min-h-[73.6px] min-w-[126.56px] rounded-lg border-[#D9D9D94D] border-4 cursor-pointer relative !important;
  }

  .blurred-bg-img {
    @apply absolute top-0 left-0 w-full h-full blur-md opacity-85 !important;
  }

  .radial-gradient {
    @apply bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] !important;
  }
}
